body {
  font-family: Arial, sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  background: #344051;
  position: fixed;
  z-index: 5;
}

.logo {
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  float: left;
  -webkit-animation: comming 1.5s ease-in;
  -o-animation: comming 1.5s ease-in;
  animation: comming 1.5s ease-in;
}

@keyframes comming {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu {
  float: left;
}

.menu li {
  float: left;
  line-height: 60px;
  color: #fff;
  margin-right: 40px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-animation: topshift 0.3s ease forwards;
  -o-animation: topshift 0.3s ease forwards;
  animation: topshift 0.3s ease forwards;
  opacity: 0;
}

.menu li:nth-child(2) {
  animation-delay: 0.3s;
}

.menu li:nth-child(3) {
  animation-delay: 0.6s;
}

.menu li:nth-child(4) {
  animation-delay: 0.9s;
}

.menu li:nth-child(5) {
  animation-delay: 1.2s;
}

.menu li:nth-child(6) {
  animation-delay: 1.5s;
}

@keyframes topshift {
  from {
    opacity: 0;
    margin-top: -80px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.menu li a {
  color: #fff;
  transition: all 0.1s;
  transform: scale(1);
  display: inline-block;
  text-decoration: none;
}

.menu li a:visited {
  color: #fff;
}

.menu li a:hover {
  color: #ff9100;
}

.menu li a:active {
  transform: scale(1.1);
}

.white-btn:visited {
  color: #fff;
}

main {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background: url("../img/photo.png") 90% 100% / auto 85% no-repeat,
    url("../img/mainBG.jpg") no-repeat center / 100% 100%;
}

.titleContainer {
  float: left;
  color: #2c384a;
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-animation: titleMove 1s ease-out forwards;
  -o-animation: titleMove 1s ease-out forwards;
  animation: titleMove 1s ease-out forwards;
  -webkit-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@keyframes titleMove {
  from {
    opacity: 0;
    margin-left: -500px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.titleContainer h1 {
  font-family: Arial, sans-serif;
  font-size: 72px;
  font-weight: 600;
}

.titleContainer h4 {
  margin-top: 40px;
  font-size: 22px;
  color: #79818d;
}

.titleContainer input {
  height: 40px;
  text-align: center;
  border: 3px solid #6d7682;
  background: none;
  border-radius: 5px;
  color: #6d7682;
  font-size: 13px;
  font-weight: bolder;
  padding: 0px 16px;
  margin: 58px 14px 0px 14px;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
}

.titleContainer input:hover {
  background: #344051;
  color: #fff;
}

.titleContainer input:active {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .titleContainer,
  .titleContainer h4,
  .titleContainer input {
    color: #fff;
    position: relative;
    z-index: 3;
  }

  .titleContainer input {
    border: 3px solid #fff;
  }

  .main {
    position: relative;
  }

  .main::after {
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgb(0, 0, 0, 0.4);
  }
}

#about {
  width: 100%;
  height: 70%;
  background: #fff;
}

.h2 {
  text-align: center;
  padding-top: 4%;
  font-weight: 700 !important;
  color: #263244;
}

.trait {
  display: block;
  margin: 1% auto 0px auto;
}

#MyRoundPhoto {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2.5% auto 2% auto;
  border-radius: 50%;
}

#about p {
  padding-top: 17px;
  font-size: 13px;
  color: #3f495a;
}

#about button {
  display: block;
  height: 34px;
  text-align: center;
  border: 3px solid #6d7682;
  background: none;
  border-radius: 5px;
  color: #6d7682;
  font-size: 13px;
  font-weight: bolder;
  padding: 0px 16px;
  margin: 6% auto 3% auto;
  transition: all 0.2s;
  transform: scale(1);
}

#about button:hover {
  color: #fff;
  background: #344051;
}

#about button:active {
  transform: scale(1.1);
}

@media (max-width: 767.8px) {
  #about {
    height: 80%;
  }

  #MyRoundPhoto {
    height: 130px;
    width: 130px;
  }

  #about p {
    padding-top: 0;
  }
}

@media (min-height: 575.8px) and (max-height: 658px) {
  #about {
    height: 90%;
  }
}

#whatICanDo {
  width: 100%;
  height: 60%;
  background: url("../img/whatICanDoBG.jpg") no-repeat center / 100% 100%;
}

#whatICanDo .row {
  margin-top: 8%;
}

#whatICanDo .col {
  text-align: center;
  transform: scale(1);
  transition: all 0.3s;
}

#whatICanDo .carousel-item {
  text-align: center;
  background: grey 1;
}

#whatICanDo .col:hover {
  transform: scale(1.3);
}

#whatICanDo .col p,
#whatICanDo .carousel-item p {
  margin: 30px 0px 15px 0px;
  font-size: 20px;
  color: #da7d04;
  font-weight: 700;
}

#whatICanDo .col span,
#whatICanDo .carousel-item span {
  display: block;
  font-size: 14px;
  color: #3f495a;
  margin: 0 10%;
}

@media (max-width: 768px) {
  #whatICanDo {
    height: 47%;
  }
}

#case {
  background: #fff;
  width: 100%;
  height: 185%;
}

#case > p {
  text-align: center;
  margin: 30px 0px;
  font-size: 16px;
  color: #3f495a;
}

.caseExample img {
  width: 100%;
}

.informationAboutConsumer {
  max-width: 30%;
  float: left;
}

#case h3 {
  font-size: 22px;
  font-weight: 600;
  color: #384354;
  margin: 10px 0px;
}

#case button {
  margin-top: 15px;
  width: 70%;
  height: 45px;
  background: #63b5ae;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s;
  transform: scale(1);
}

.adaptedCaseButton {
  display: block;
  margin: auto;
}

.informationAboutConsumer button:hover {
  transform: scale(1.2);
}

.informationAboutConsumer span,
.informationAboutConsumer a {
  font-size: 16px;
  color: #3f495a;
  text-decoration: none;
}

.informationAboutProject {
  float: left;
}

.informationAboutProject p {
  font-size: 16px;
  color: #3f495a;
}

#price h3 {
  font-size: 22px;
  font-weight: bolder;
  color: #263244;
}

#price select {
  height: 58px;
  font-size: 18px;
  margin: 22px 0px 40px 0px;
  background: #eeeeee;
}

#price img {
  width: 100%;
}

.result {
  font-size: 20px;
  font-weight: 600;
  color: #393b3d;
}

.result p {
  display: inline-block;
  width: 100%;
}

.resultNumber {
  color: #1c2534;
  font-weight: 600;
  float: right;
  font-size: 24px;
}

#statistics {
  width: 100%;
  height: 55%;
  background: url("../img/statisticsBG.jpg") repeat center / 100% fixed;
}

#statistics .row {
  margin-top: 8%;
}

#statistics .col {
  text-align: center;
  transform: scale(1);
  transition: all 0.3s;
}

#statistics .carousel-item {
  text-align: center;
  background: grey 1;
}

#statistics .col img,
#statistics .carousel-item img {
  max-height: 47px;
}

#statistics .col p,
#statistics .carousel-item p {
  margin-top: 14px;
  font-size: 28px;
  color: #323e4f;
  font-weight: bold;
}

#statistics .col span,
#statistics .carousel-item span {
  font-size: 20px;
  font-weight: 500;
  color: #323e4f;
}

@media (max-width: 768px) {
  #statistics {
    height: 40%;
  }
}

#reviews {
  height: 53%;
}

#photoCostumer {
  display: block;
  margin: 56px auto 36px auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#reviews p {
  text-align: center;
  font-size: 16px;
  color: #3d4654;
  margin-bottom: 24px;
}

.radio {
  text-align: center;
}

.formRadio {
  display: inline-block;
  text-align: center;
}

.customRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customRadio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.customRadio + label::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: none;
  background: url(../img/radioDisabled.png) 0 0 no-repeat;
}

.customRadio:checked + label::before {
  border-color: #ff8800;
  background-color: #ff8800;
  background: url(../img/radioEnabled.png) 0 0 no-repeat;
}

@media (max-width: 575.8px) {
  #photoCostumer {
    display: block;
    margin: 15px auto 10px auto;
  }
}

#contacts {
  width: 100%;
  height: 80%;
  background: url("../img/contactsBG.jpg") no-repeat center / 100%;
}

#contacts > h2 {
  color: #fff !important;
}

#contacts .columns > p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
}

#contacts .columns > div {
  float: right;
  text-align: center;
}

#contacts .columns p {
  color: #fff;
  margin-top: 15px;
}

#contacts .columns img {
  max-height: 24px;
}
